title {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
body {background-color:#D3BDFE}
a href {text-align: center}
p {text-align: center; margin-left: 25px}
h1 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 32px; text-align: center;}
a {text-decoration: none}
h2 {text-align: center;font-size: 32px;  font-family: Cambria; color:#551A8B;}
table{text-align: center; border-collapse:collapse;}
td {border: 1px solid; black; width: 150px;}
